[submodule "jackson-lambda"]
	path = jackson-lambda
	url = git@github.com:Buildcave/jackson-lambda.git
[submodule "jackson-core"]
	path = jackson-core
	url = git@github.com:Buildcave/jackson-core.git
[submodule "jackson-gui"]
	path = jackson-gui
	url = git@github.com:Buildcave/jackson-gui.git
